
{% extends 'base.html' %}

{% block title %}Analytics{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <div class="row" >
        <div class="col-md-8 offset-md-2">
            <h1>Analytics for {{ user.username }}</h1>
            {% if user_links %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Original URL</th>
                            <th>Short URL</th>
                            <th>Expiration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in user_links %}
                            <tr>
                                <td>{{ link.original_url }}</td>
                                <td>{{ link.short_url }}</td>
                                <td>{{ link.expiration_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No links found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
